<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura:400">

    {{ $options := (dict "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  </head>
  <body>
    <div class="wrap">
{{ partial "profile.html" . }}
{{ partial "contacts.html" . }}
{{ partial "footer.html" . }}
    </div>
  </body>
</html>
